<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="frms.css">
    <title>Document</title>
    <h1>Obafemi Awolowo University, Ile-Ife, Nigeria </h1>
    <h2>Curriculum Vitae</h2>
</head>
<body>
    <div>
        <div id="A">A. PERSONAL DATA:
            <ol>
                <li class="list">Full Name: <span style="font-style: italic";>(Surname first and in Capitals)</span></li>
                <li class="list">Date of Birth: </li>
                <li class="list">Contact Details 
                    <ol class="list" type="a">
                        <li>Residential Address:</li>
                        <li>Email Address(es):</li>
                        <li>Mobile Telephone Number(s):</li>
                    </ol>
                </li>
                <li class="list">Nationality: </li>
                <li class="list">State of Origin: </li>
                <li class="list">Senatorial District: </li>
                <li class="list">Local Government Area: </li>
                <li class="list">Permanent Home Address: </li>
                <li class="list">Marital Status: </li>
                <li class="list">Number of Children and their Ages: </li>
                <li class="list">Next of Kin: </li>
                <li class="list">Contact Details of Next of Kin: 
                    <ol class="list" type="a">
                        <li>Residential Address:</li>
                        <li>Email Address(es):</li>
                        <li>Mobile Telephone Number(s):</li>
                    </ol>
                </li>
                <li class="list">Date of Assumption of Duty: </li>
                <li class="list">Rank/Status of First Appointment: </li>
                <li class="list">Present Status: </li>
                <li class="list">Present Salary Grade Level and Step: </li>
                <li class="list">Date of Last Promotion/Regrading: </li>
                <li class="list">Date of Confirmation of Appointment:</li>
                <li class="list">Faculty/Directorate</li>
                <li class="list">Department/Unit</li>
            </ol>
        </div>
        <div id="B">B. EDUCATIONAL BACKGROUND: <span style="font-style: italic;">(chronologically arranged from the earliest to latest)</span>
            <ol>
                <li class="list">Higher Educational Institutions Attended with Dates:
                    <ol class="list" type="i">
                        <li></li>
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Academic/ Professional Qualifications and Distinctions Obtained with Dates:
                    <ol class="list" type="i">
                        <li></li>
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Other Distinctions and Awards with Dates: 
                    <ol class="list" type="a">
                        <li>Scholarships:
                            <ol class="list" type="i">
                                <li></li>
                                <li>etc</li>
                            </ol>
                        </li>
                        <li>Fellowships:
                            <ol class="list" type="i">
                                <li></li>
                                <li></li>
                                <li>etc</li>
                            </ol>
                        </li>
                        <li>Research Grants:
                            <ol class="list" type="i">
                                <li></li>
                                <li></li>
                                <li>etc</li>
                            </ol>
                        </li>
                        <li>National Awardss:
                            <ol class="list" type="i">
                                <li></li>
                                <li></li>
                                <li>etc</li>
                            </ol>
                        </li>
                        <li>International Awards:
                            <ol class="list" type="i">
                                <li></li>
                                <li></li>
                                <li>etc</li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
        <div id="C">C. WORK EXPERIENCE WITH DATES:
            <ol>
                <li class="list">Previous Work Experience outside the University System:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Previous Work Experience in Other Universities:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Work Experience in Obafemi Awolowo University:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Graduate Student Supervision: <span style="font-style: italic;">(to list names, Registration numbers and titles of theses)</span> 
                    <ol class="list" type="a">
                        <li>By Research:
                            <ol class="list" type="i">
                                <li></li>
                                <li>etc</li>
                            </ol>
                        </li>
                        <li>By Long Essay:
                            <ol class="list" type="i">
                                <li></li>
                                <li>etc</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li class="list">Undergraduate Student Supervision:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div id="D">D. MEMBERSHIP OF PROFESSIONAL BODIES WITH DATES: <span style="font-style: italic;">(Current financial member)</span>
            <ol>
                <ol class="list" type="i">
                    <li></li>
                    <li></li>
                    <li>etc</li>
                </ol>
            </ol>
        </div>
        <div id="E">E. PUBLICATIONS
            <ol>
                <li class="list">Theses/Dissertations: <span style="font-style: italic;">(to be listed in Roman figures)</span>
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Books and Monographs:
                    <ol class="list" type="a">
                        <li>Authored: <span style="font-style: italic;">(not below Senior Lecturer)</span> 
                            <ol class="list" type="i">
                                <li></li>
                                <li>etc</li>
                            </ol>
                        </li>
                        <li>Edited:
                            <ol class="list" type="i">
                                <li></li>
                                <li>etc</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li class="list">Contribution to Books:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Published Journal Articles:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Edited Conference Proceedings:
                    <ol class="list" type="a">
                        <li>Refereed:
                            <ol class="list" type="i">
                                <li></li>
                                <li>etc</li>
                            </ol>
                        </li>
                        <li>Non-Refereed:
                            <ol class="list" type="i">
                                <li></li>
                                <li>etc</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li class="list">Articles Accepted for Publication:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Manuscripts Submitted for Publication:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Creative Works/Patents:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Technical Reports:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Papers and Works in Progress:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div id="F">F. PROFESSIONAL ACCOMPLISHMENTS
            <div style="font-style: italic;">
                (Note: This section is to be written in prose form with no numbering/bulleting, and with points/ideas <br> separated using paragraphs. The section should address the candidate’s measurable <br> achievements/contributions as an academic/researcher that are possibly quantified with figures, <br> percentages and statistics. These may include: problems identified and solved and the possible <br> number of persons/things positively affected; ideas or innovations introduced to improve a <br> system/thing; training a number of students on special skills and its positive impact in the system; <br> procedures or systems developed/ restructured for improvement; special projects <br> worked on and positive impact on people/system; awards, scholarships, and commendations received <br> for specific activities; research outcomes that result into increased revenue or sales, etc.)            </div>
        </div>
        <div id="G">G. CONFERENCES, SEMINARS AND WORKSHOPS ATTENDED WITH DATES:
            <ol>
                <ol class="list" type="i">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li>etc</li>
                </ol>
            </ol>
        </div>
        <div id="H">H. CURRENT RESEARCH ACTIVITIES:
            <ol>
                <ol class="list" type="i">
                    <li></li>
                    <li>etc</li>
                </ol>
            </ol>
        </div>
        <div id="I">I. OTHER RELEVANT INFORMATION: 
            <ol>
                <li class="list">Services within the Department:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Services within the Faculty:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Services within the University:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
                <li class="list">Services outside the University:
                    <ol class="list" type="i">
                        <li></li>
                        <li>etc</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div id="J">J. CONTRIBUTION TO KNOWLEDGE
            <div style="font-style: italic;">
                (Note: This section is to be written in prose form with no numbering/bulleting, and with points/ideas <br> separated using paragraphs. The section should address the candidate’s addition to <br> existing knowledge in area of specialization arising from extensive and innovative research).
            </div>
        </div>
        <div>
            <span>Signature: </span>
            <span>Date: </span>
        </div>
    </div>
</body>
</html>